<h2>Thống kê</h2>
<div class="col-md-3" style="margin-bottom: 10px;">
    <select class="form-control" id="admin_statistic">
        <option>Chọn đối tượng cần thống kê</option>
        {{#each title}}
        {{#if (eq id ../itemSelected)}}
        <option value={{id}} selected>{{content}}</option>
        {{else}}
        <option value={{id}}>{{content}}</option>
        {{/if}}
        {{/each}}
    </select>
</div>

{{#if _male}}
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Tỉ lệ nam/nữ của giáo viên",
                fontFamily: "Segoe UI",
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                yValueFormatString: "##0.0000\"%\"",
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}",
                dataPoints: [
                    { y: {{_male}}, name: "Nam" },
                    { y: {{_female}}, name: "Nữ" },
                ]
            }]
        });
        chart.render();
    }

    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }
</script>
{{/if}}